@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	color: $text
	margin: 0

a
	text-decoration: none
	color: $text

p
	padding: 0
	margin: 0

.img-responsive
	display: block
	max-width: 100%
	height: auto

.btn
	font-size: 15px
	font-weight: 500
	line-height: 40px
	border: 1px solid $accent
	border-radius: 20px
	width: 165px
	text-align: center
	display: block
	color: $accent
	transition: 0.7s
	margin: auto
	&:hover
		color: $text
		background-color: $accent
		transition: 0.7s
		border: 1px solid transparent

.logo
	background-image: url('../img/logo.png')
	width: 35px
	height: 38px
	display: block
	background-size: cover
	top: 50%
	position: absolute
	margin-top: -19px
	transition: 0.4s
	&:hover
		opacity: 0.4
		transition: 0.4s

header
	background-color: $accent
	line-height: 80px
.header_menu
	margin: 0
	li
		list-style-type: none
		padding: 0 25px
		float: left
		cursor: pointer
		a
			border-bottom: 2px solid transparent
			font-size: 18px
			font-weight: 500
			line-height: 24px
			transition: 0.6s
			&:hover
				border-bottom-color: #7f7f7f
				transition: 0.6s
.phone
	font-size: 17px
	font-weight: 500
	line-height: 24px
	transition: 0.4s
	&:hover
		opacity: 0.4
		transition: 0.4s
	.fa-phone
		margin-left: -10px
		transform: scaleX(-1)

	.call_back
		color: $text
		border: 1px solid #fff
		margin-top: 20px
		&:hover
			color: $accent
			background-color: $text
section
	h1
		margin: 0
		padding: 50px 0
		color: $accent
		font-size: 32px
		font-weight: 700
		line-height: 48px
		text-align: center
	.section-btn
		margin: 20px auto 40px
.catalog
	background-color: #f5f5f5
	margin: 0
	&-list
		.item
			background-color: #fff
			margin-bottom: 30px
			display: block
			position: relative
			transition: 0.6s
			&:hover
				box-shadow: 0 5px 9px 1px rgba(42, 42, 42, 0.1)
				transition: 0.6s
			.price
				width: 70px
				height: 35px
				background-color: $accent
				border-radius: 5px
				color: #fff
				font-size: 15px
				font-weight: 500
				line-height: 35px
				display: block
				position: absolute
				top: 15px
				right: 15px
				text-align: center
			img
				width: 100%
				margin: 0
			p
				padding: 0
				margin: 0
			.info
				padding: 30px 40px
				color: $accent
				font-size: 18px
				line-height: 24px
				font-weight: 700
				.address
					font-weight: 400
				.other
					margin-top: 18px
					color: $accent
					font-size: 14px
					font-weight: 400
					line-height: 20px
					span
						padding: 0 10px 0 6px
.otziv
	background-color: #f4efed
	color: $accent
	font-size: 16px
	font-weight: 400
	line-height: 22px
	padding: 40px
	margin-bottom: 30px
	p
		margin-bottom: 25px
	img
		float: left
		width: 50px
		border-radius: 100%
		margin-right: 10px
	.name
		font-weight: 700
footer
	background-color: #1b1b1c
	padding-top: 80px
	.logo
		top: 0
		margin-top: 0
	.address
		margin-bottom: 50px
	.soc
		margin: auto
		width: 140px
	.social
		margin-right: 15px
		text-align: center
		transition: 0.7s
		&:hover
			transition: 0.7s
			opacity: 0.4
	.fa-map-marker-alt
		position: absolute
		margin-left: -17px
		margin-top: 5px
	hr
		opacity: 0.1
		background-color: #fff
	.bottom_a
		line-height: 80px
		text-align: center
		font-size: 12px
		font-weight: 400
		opacity: 0.4
		text-decoration: underline
		margin: 0 10px
		transition: 0.7s
		&:hover
			opacity: 1
			transition: 0.7s

.comments
	margin-bottom: 80px
	.comments-items
		position: relative
		overflow: visible
		.col-md-6
			position: absolute
